<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>부산내성중학교 도서관 전자시스템</title>
    <link rel="stylesheet" type="text/css" href="dist/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script lang="javascript" src="dist/bootstrap.min.js"></script>
    <script lang="javascript" src="dist/xlsx.full.min.js"></script>
</head>

<body>
    <% if (data != null) { %>
        <div class="panel">
            <span id="lineSpan">
                <%= line %>
            </span>
        </div>
        <div class="display">
            <span id="displaySpan">
            </span>
        </div>
        <form action="/" method="get" id="getForm">
            <label for="person">대출자 : </label>
            <input type="text" id="person" name="person" size="30"><br>
            <label for="book">책 번호 : </label>
            <input type="text" id="book" name="book" size="30"><br>
        </form>
        <div style="margin-bottom: 10px;">
            <button class="btn btn-primary" id="search">검색</button>
        </div>
        <p>
            책 번호로 입력하세요! 책 제목으로 검색하면 안 나옵니다.
        </p>
        <div style="margin-bottom: 10px;">
            <button class="btn btn-primary" id="lend">대출</button>
            <button class="btn btn-primary" id="return">반납</button>
            <button class="btn btn-primary" id="renew">연장</button>
        </div>
        <div style="margin-bottom: 5%;">
            <form action="/save" method="get" id="save" style="margin-right: 45px; display: inline;">
                <input type="text" placeholder="저장될 파일이름" id="filename" name="filename">
                <button class="btn btn-primary" id="saveButton">파일로 저장</button>
            </form>
            <form action="/reset" method="get" style="display: inline;">
                <button class="btn btn-primary" type="submit" id="reset">데이터 리셋</button>
            </form>
        </div>
        <script>
            const data = <%- JSON.stringify(data) %>;
            const sheets = data.Sheets;

            const form = document.getElementById("getForm");

            document.getElementById("saveButton")
                .addEventListener("click", () => {
                    const filename = document.getElementById("filename");
                    filename.value = filename.value ? filename.value + ".xlsx" : "out.xlsx";
                })
            document.getElementById("lend")
                .addEventListener("click", () => {
                    form.action = "/lend";
                    form.submit();
                });
            document.getElementById("return")
                .addEventListener("click", () => {
                    form.action = "/return";
                    form.submit();
                });
            document.getElementById("renew")
                .addEventListener("click", () => {
                    form.action = "/renew";
                    form.submit();
                });
            document.getElementById("search")
                .addEventListener("click", () => {
                    search();
                });
            document.getElementById("person")
                .addEventListener("keyup", function(event) {
                    if (event.keyCode === 13) {
                        search();
                    }
                });
            document.getElementById("book")
                .addEventListener("keyup", function(event) {
                    if (event.keyCode === 13) {
                        search();
                    }
                });

            function findByRow(person, book) {
                for (const sheetname in sheets) {
                    const sheet = sheets[sheetname];
                    console.log(sheet);
                    const range = XLSX.utils.decode_range(sheet['!ref']);
                    for (let rowNum = range.s.r; rowNum <= range.e.r; rowNum++) {
                        const row = [];
                        for (colNum = range.s.c; colNum <= range.e.c; colNum++) {
                            const nextCell = sheet[
                                XLSX.utils.encode_cell({
                                    r: rowNum,
                                    c: colNum
                                })
                            ];
                            if (typeof nextCell === 'undefined') {
                                row.push(void 0);
                            } else row.push(nextCell.w);
                        }
                        console.log(row);
                        console.log(row.includes(person) || row.includes(book));
                        if (row.includes(person) || row.includes(book)) {
                            return row;
                        }
                    }
                }
                return null;
            };

            function search() {
                const person = document.getElementById("person").value;
                const book = document.getElementById("book").value;
                const result = findByRow(person, book) || [];
                console.log(result);
                document.getElementById("displaySpan")
                    .innerText = result.length > 0 ? result.join(": ") : "검색결과 없음!";
            }
        </script>
        <% } else { %>
            <div class="panel">
                <span>
                    xlsx 파일을 업로드 해주세요.
                </span>
            </div>
            <form action="/upload" method="post" enctype="multipart/form-data" style="margin-top: 15px;">
                <input type="file" name="file">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <% } %>
</body>

</html>